body {
	background-color: #323332;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.menu {
	background-color: #d47b06;
	color: white;
	height: 70px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.menu img {
	width: 40px;
	margin-left: 10px;
}

.menu-button {
	float: right;
	margin-top: -48px;
	margin-right: 10px;
}

.menu-button li {
	float: left;
	list-style: none;
}

.menu-button a {
	text-decoration: none;
	color: white;
	background-color: #323332;
	padding: 9px;
	border-radius: 5px;
}

.menu-button a:hover {
	cursor: pointer;
	background-color: #383a38;
}

.menu h2 {
	margin-top: -37px;
	margin-left: 60px;
}
