body {
	background-color: #323332;
	padding: 0;
	margin: 0;
}

#downloads .btn {
	display: inline-block;
	text-align: center;
	margin: 0;
}

.btn {
	display: inline-block;
	background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
	padding: 8px 18px;
	border-radius: 50px;
	border: 2px solid rgba(0,0,0,0.7);
	  border-top-color: rgba(0, 0, 0, 0.7);
	  border-top-style: solid;
	  border-top-width: 2px;
	  border-bottom-color: rgba(0, 0, 0, 0.7);
	  border-bottom-style: solid;
	  border-bottom-width: 2px;
	border-bottom: 2px solid rgba(0,0,0,0.7);
	border-top: 2px solid #000;
	color: rgba(255,255,255,0.8);
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
}

.menu {
	background-color: #d47b06;
	color: white;
	height: 70px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.menu-button {
	float: right;
	margin-top: -40px;
	margin-right: 10px;
}

.menu-button li {
	float: left;
	list-style: none;
}

.menu-button a {
	text-decoration: none;
	color: white;
}

.menu h2 {
	margin-top: -10px;
	margin-left: 10px;
}
